name: WLED compile

on:
    workflow_dispatch:

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Set up Node.js
      uses: actions/setup-node@v4
      
    - name: Run PlatformIO
      run: |
        rm -rf /tmp/WLEDtemp/* || true
        mkdir -p /tmp/WLEDtemp
        wget https://api.github.com/repos/wled/WLED/zipball/v0.15.3 -O /tmp/WLEDtemp/mm.zip
        unzip /tmp/WLEDtemp/mm.zip -d /tmp/WLEDtemp
        find /tmp/WLEDtemp -maxdepth 1 -mindepth 1 -name "*" -type d >> /tmp/WLEDtemp/wledfoldername
        cd `cat /tmp/WLEDtemp/wledfoldername`
        npm install
        echo '[env:custom_build]' >>platformio.ini
        echo 'extends = env:esp32c3dev' >>platformio.ini
        
        echo 'build_flags = ${env:esp32c3dev.build_flags} -D BTNPIN=8 -D ARDUINO_USB_CDC_ON_BOOT=0' >>platformio.ini
        
        echo 'build_unflags= -D WLED_RELEASE_NAME' >>platformio.ini
        pio run -e custom_build || pio run -e custom_build

    - name: Prepare File for Release
      run: |
        WLEDFOLDERNAME=`cat /tmp/WLEDtemp/wledfoldername`
        cp ${WLEDFOLDERNAME}/build_output/firmware/custom_build.bin sp530e_0.15.3.bin
        
        echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Create Release and Upload
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v0.15.3-custom-${{ env.DATE }}
        name: WLED 0.15.3 Custom Build (${{ env.DATE }})
        body: |
          ### WLED Custom Build
          - **Version:** 0.15.3
          - **Chip:** ESP32-C3
          - **Build Date:** ${{ env.DATE }}
          
          ### Custom Flags:
          - `-D BTNPIN=8`
          - `-D ARDUINO_USB_CDC_ON_BOOT=0`
        files: custom_build_0.15.3_esp32c3.bin
        draft: false
        prerelease: false
